:root {
    --color-text-main: #253017;
    --color-text-caption: #69735D;
    --color-text-disabled: #9CA197;
    --color-bg-main: #F9FAF7;
    --color-bg-card: #FFFFFF;
    --color-accent: #abd27a;
    --color-button-hover: #DEEBC5;
    --color-button-pressed: #508826;
    --color-toggle: #B2B9A9;
    --color-bg-disabled: #E4E8DF;

    --color-sec-button: #FFFFFF;

    --color-alarm: #E0796E;
    --color-error: #BF3920;
    --tag-business: #EEE7F7;
    --tag-creative: #F7E7F2;
    --tag-languages: #EBE5C5;
    --tag-education: #E7F2F6;
    --tag-home: #F7EBE5;
    --tag-health: #E9F7E7;
    --tag-plus: #E8ECF7;
}
[data-theme="dark"] {
    --color-text-main: #F2F5F3;
    --color-text-caption: #8CA89C;
    --color-text-disabled: #4A5E55;

    --color-bg-main: #00110b;
    --color-bg-card: #0D211A;

    --color-accent: #026440;
    --color-button-hover: #038052;
    --color-button-pressed: #014B30;
    --color-toggle: #163B2D;
    --color-bg-disabled: #0A1A14;

    --color-sec-button: #112B22;

    --color-alarm: #E2A036;
    --color-error: #E5484D;
}