.sectionHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}

.showAll {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px 12px 24px;
    width: 187px;
    height: 48px;
    max-width: 187px;
    max-height: 48px;
    background: var(--color-bg-card);
    border: none;
    border-radius: 12px;
    color: var(--color-text-main);
    font-size: 16px;
    cursor: pointer;
}

.cardsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    width: 100%;
}

@media (max-width: 992px) {
    .cardsGrid {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
}

@media (max-width: 576px) {
    .cardsGrid {
        grid-template-columns: 1fr;
    }
}